/* Colors */
:root {
  //Primary
  --color-soft-red: hsl(10, 79%, 65%);
  --color-cyan: hsl(186, 34%, 60%);

  //Neutral
  
  --color-dark-brown: hsl(25, 47%, 15%);
  --color-medium-brown: hsl(28, 10%, 53%);
  --color-cream: hsl(27, 66%, 92%);
  --color-very-paleorange: hsl(33, 100%, 98%);

  --color-white: hsla(360, 100%, 100%, 1);
}